<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sudoku Game History</title>
    <!-- See https://bootswatch.com/flatly/ -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/sudoku.css}" rel="stylesheet">
</head>
<!-- For the Bootstrap Grid System, see https://getbootstrap.com/docs/5.2/layout/grid/ -->
<!-- Using a CSS grid layout for the Sudoku grid, to help create cells of equal width and height. -->
<!-- Mind the use of the aspect-ratio CSS property to create such cells. -->
<body>
<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-6 sudoku-wrapper">
            <h4 th:text="${title}" class="h4">Sudoku</h4>
            <!-- Here the grid layout starts -->
            <div class="sudoku-grid">
                <div th:each="cell : ${gameHistory.currentGrid.cells}"
                     th:text="${cell.valueOptionAsString}">
                    Cell
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
</body>
</html>