<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sudoku Game History</title>
    <!-- See https://bootswatch.com/flatly/ -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<!-- For the Bootstrap Grid System, see https://getbootstrap.com/docs/5.2/layout/grid/ -->
<body>
<div class="container pt-5">
    <div class="row gx-5 gy-5">
        <div class="col-12">
            <table class="table table-bordered table-striped table-responsive-sm caption-top">
                <caption><strong th:text="${title}" class="h4">Sudoku</strong></caption>
                <tbody>
                <tr th:each="row : ${gameHistory.currentGrid.rows}">
                    <td th:each="cell : ${row.cells}" th:text="${cell.valueOptionAsString}">
                        Cell
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
</body>
</html>